.cart {
    &-table {
        text-align: left;
        min-height: 30rem;

        &-prd {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border-bottom: 1px solid rgba(#aaa, 0.5);

            padding: 2rem;

            &-image {
                max-width: 10rem;
            }

            &-action {
                i {
                    color: red;
                }
            }

            h2 a,
            h3 a,
            h3 {
                color: var(--color-primary);

                &:hover {
                    color: var(--color-secondary);

                }
            }
        }


    }

    &-coupon-input {
        font-size: 1.6rem;
        color: var(--color-primary);
        padding: 0.8rem 1rem;
        width: 100%;
    }


    .card-total {
        font-size: 24px;
        line-height: 27px;
        font-weight: 600;

        &-div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 5rem;
            align-items: center;


            @media only screen and (max-width: $bp-xsmall) {
                justify-content: center;
                text-align: center;
            }
        }
    }

    .sidebar-block {
        position: relative;
        padding: 2rem;
        border-bottom: 1px solid rgba(#aaa, 0.5);


        .card-total {
            &:not(:only-child) {
                margin-bottom: 15px;
            }
        }

        .sidebar-block_title {
            padding: 20px 45px 20px 0;
        }
    }

    .sidebar-block_title {
        position: relative;
        z-index: 1;
        padding: 20px 0;
        font-size: 18px;
        font-family: Montserrat, sans-serif;
        line-height: 1.333em;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
    }

}

////////////////////////////////////
/// //////////////////////////////////



.checkout {
    padding: 8rem 0;

    &__title {
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -.02rem;
        font-size: 2.4rem;
    }

    &__form-group {
        margin-top: 3rem;

        @media only screen and (max-width: $bp-xsmall) {
            margin-top: 1.5rem;
        }
    }

    &__label {

        display: flex;
        align-items: center;
        justify-content: space-between;


        h6,
        &-text {
            font-weight: 700;
            line-height: 1.2;
            letter-spacing: -.02rem;
            font-size: 1.4rem;
            color: #131313;
        }

        h6 {
            color: #363636;
            font-weight: 600;
            margin-bottom: 0;

        }
    }

    &__select {
        width: 100%;
        padding: 0.8rem 1rem;
        font-size: 1.4rem;
        margin-top: 1rem;

    }

    &__total {
        font-size: 1.8rem;
        font-weight: 700;
        color: #131313;

        &--orginal {
            font-size: 1.6rem;
            font-weight: 600;
            color: #131313;
        }

    }

    &__summary {
        gap: 3rem;
        justify-content: space-between;
    }

    &__payment {
        // border: 1px dashed var(--color-teritiary);
        width: 100%;
        margin: 2rem 0;


        &-items {
            border: 1px solid #d1d7dc;
            width: 100%;
        }

        &-head {
            background: #f7f9fa;
            padding: 1.2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            input {
                background: #1c1d1f;
                box-shadow: 0 0 0 0.2rem #fff;
                width: 1.6rem;
                height: 1.6rem;
                border: 0.2rem solid #1c1d1f;
                border-radius: 50%;
                display: inline-block;
            }
        }

        &-img {
            width: 4rem;
            // height: 4rem;
        }
    }

}