//////////////////////////////////////
// Contact

.contact {

  padding-bottom: 0;

  // padding-top: 130px;
  &__left-part {
    margin-right: 3rem;

    @media only screen and (max-width: $bp-992) {
      margin-right: 0rem;
    }
  }

  &__title {
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Jost", sans-serif;
    line-height: 26px;
    font-size: 2.1rem;
  }

  &__sub-title {
    color: #3c4852;
    font-size: 15px;
  }

  &__map {
    margin-top: 8rem;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      // margin-top: 5rem;
      width: 100%;
    }

    &-iframe {
      width: 100%;
      height: 100%;

      iframe {
        width: 100%;
        height: 60vh;

        @media only screen and (max-width: $bp-xsmall) {
          height: 40vh;
        }
      }
    }
  }

  &__detail {
    padding-left: 8rem;
    padding-top: 3rem;

    @media only screen and (max-width: $bp-992) {
      padding-left: 3rem;
    }

    @media only screen and (max-width: 767px) {
      padding-left: 0rem;
      padding-top: 5rem;
    }

    &-group {
      position: relative;
      padding-left: 8rem;
      margin-bottom: 3rem;
    }

    &-icon {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      background: rgba(3, 185, 124, 0.12) !important;
      padding: 1.5rem !important;

      i {
        color: var(--color-primary);
        font-size: 1.8rem;
      }
    }
  }
}

.form {
  &__group {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    &.active label {
      transform: translateY(1rem);
      visibility: visible;
      font-size: 1.6rem;
      color: #30384e;
    }
  }

  &__label {
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0.8;
    margin-bottom: 1rem;

    transform: translateY(3.4rem);
    transition: all 0.2s;
    z-index: 3;

    @media only screen and (max-width: $bp-xsmall) {
      font-size: 1.8rem;
    }
  }

  &__input {
    background: #ffffff;
    color: #707e9c;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1.6rem;
    line-height: 1.25;
    outline: none;

    border: none;
    background: transparent;
    border-bottom: 2px solid #c1c1c1;
    z-index: 4;

    @media only screen and (max-width: $bp-xsmall) {
      font-size: 1.8rem;
    }

    &:focus {
      outline: none;
      border-bottom: 2px solid #55c57a;
    }

    &:focus:invalid {
      border-bottom: 2px solid #ff7730;
    }

    &::placeholder {
      font-size: 1.6rem;
    }
  }

  &__text-area {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    // border-color: #cccccf;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    font-size: 1.65rem;
    height: 10rem;
    width: 100%;

    color: #707e9c;
    margin-top: 1rem;
    border-bottom: 2px solid #c1c1c1;

    &::placeholder {
      font-size: 1.6rem;
      color: #30384e;
    }

    &:focus {
      outline: none;
    }
  }
}

main {
  position: relative;
}

.remove-scrolling {
  height: 100%;
  overflow: hidden;
  transition: overflow 0.1s;
}

/*=================================================*/
/*             Contact End                         */
/*=================================================*/